<mat-card class="card">
  <mat-card-content class="card-content">
    <div>
      <h2 *ngIf="savings?.amount === balanceAmount">
        Hey, you have successfully reached your savings goal 🎉🎉
      </h2>
      <h2 *ngIf="balanceAmount > savings?.amount">
        Hey, you have successfully reached your savings goal with an extra
        saving of 💰 {{ balanceAmount - savings?.amount }} 🎉😍😍
      </h2>
      <h2 *ngIf="balanceAmount < savings?.amount">
        OOps!!! Small savings can improve your living standards. You have to
        save 💰{{ savings?.amount - balanceAmount }} to reach your goal 🤞😎
      </h2>
    </div>
  </mat-card-content></mat-card
>
