<div>
  <mat-card class="card">
    <mat-card-content>
      <h2>Transaction Details</h2>
      <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
        <div class="container">
          <mat-form-field class="example-full-width">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error
              *ngIf="dateError?.invalid && dateError?.touched && dateError?.errors?.['required']"
              >Date is required *</mat-error
            >
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>amount</mat-label>
            <input
              type="number"
              matInput
              formControlName="amount"
              placeholder="Enter amount"
            />
            <mat-error
              *ngIf="amountError?.invalid && amountError?.touched && amountError?.errors?.['required']"
              >amount is required *</mat-error
            >
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Category</mat-label>
            <mat-select formControlName="category">
              <mat-option
                *ngFor="let category of categories"
                [value]="category.value"
              >
                {{ category.value }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="categoryError?.invalid && categoryError?.touched && categoryError?.errors?.['required']"
              >category is required *</mat-error
            >
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Description</mat-label>
            <input
              type="text"
              matInput
              placeholder="Enter Description"
              formControlName="description"
            />
            <mat-error
              *ngIf="descriptionError?.invalid && descriptionError?.touched && descriptionError?.errors?.['required']"
              >Description is required *</mat-error
            >
          </mat-form-field>
          <button
            type="submit"
            mat-raised-button
            color="primary"
            [disabled]="transactionForm.invalid"
          >
            Add Transaction
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
