<mat-card class="card">
  <mat-card-content class="card-content">
    <div>
      <div class="desc">
        <button
          mat-icon-button
          color="primary"
          aria-label="Example icon button with a home icon"
        >
          <mat-icon>receipt_long</mat-icon>
        </button>
        <h2>{{ savings.name }} - {{ convertDate(savings.date) }}</h2>
      </div>
      <div class="amount">
        <h2>💲{{ savings.amount }}</h2>
      </div>
    </div>
    <div class="movie-content">
      <div class="buttons">
        <button mat-raised-button color="primary" (click)="onEdit(savings.id)">
          Edit
        </button>
        <button
          mat-raised-button
          color="primary"
          (click)="onDelete(savings.id)"
        >
          Delete
        </button>
      </div>
    </div></mat-card-content
  ></mat-card
>
